
<div class="bottom-navbar">
    <a href="#home" class="active"><i class="fa-solid fa-magnifying-glass"></i> </a>
    <a href="#news"><i class="fa-solid fa-heart"></i></a>
    <a href="#contact"><i class="fa-solid fa-user user-image-icon "   ></i></a>
  </div