



<div class="container">

  <!-- card 1 -->
  <div class="main-card-div d-flex ">


    <div style="width: auto;">

      <div class="card mt-2 mx-2 rounded-4" style="width: 17rem; border: none;">

        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href=""><img src="../../../hotels-image/sayajiHotel1.jfif" class="d-block w-100 rounded-4" style="height: 18rem;" alt="..."></a>
            </div>
            <div class="carousel-item">
              <img src="../../../hotels-image/sayajiHotel2.jfif" class="d-block w-100 rounded-4" style="height: 18rem;" alt="...">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="card-body p-1">
          <h5 class="card-title">Mumbai</h5>
          <p class="card-list m-0"> On beach
            <br> Date 12jun-17jun
            <br> <b style="color: var(--black);">₹53,888</b> night
          </p>


        </div>
      </div>

    </div>

    <!-- card 2 -->
    <div  style="width: auto;">

      <div class="card mt-2 mx-2 rounded-4" style="width: 17rem;border: none;">

        <div id="carouselExample2" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../hotels-image/sayajiHotel2.jfif" class="d-block w-100 rounded-4" style="height: 18rem;" alt="...">
            </div>
        >

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="card-body p-1">
          <h5 class="card-title">lonavala</h5>
          <p class="card-list mt-0"> On beach
            <br> Date 12jun-17jun
            <br> <b style="color: var(--black);"><i class="fa-solid fa-indian-rupee-sign"></i>51,858</b> night
          </p>


        </div>
      </div>

    </div>

    <!--  card 2 end -->


    <!-- card 3-->
    <div   style="width: auto;">

      <div class="card mt-2 mx-2 rounded-4" style="width: 17rem;border: none;">

        <div id="carouselExample3" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../hotels-image/redison2.jpg" class="d-block w-100 rounded-4" style="height: 18rem;" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="card-body p-1">
          <h5 class="card-title">kerala</h5>
          <p class="card-list mt-0"> On beach
            <br> Date 12jun-17jun
            <br> <b style="color: var(--black);"><i class="fa-solid fa-indian-rupee-sign"></i>66,882</b> night
          </p>


        </div>
      </div>

    </div>



   <!-- card 4-->
   <div  style="width: auto;">

    <div class="card mt-2 mx-2 rounded-4" style="width: 17rem;border: none;">

      <div id="carouselExample4" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../hotels-image/reduson1.jpg" class="d-block w-100 rounded-4"  style="height: 18rem;" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="../../../hotels-image/hotel1-2.jfif" class="d-block w-100 rounded-4" alt="...">
          </div> -->

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="card-body p-1">
        <h5 class="card-title">J&K</h5>
        <p class="card-list mt-0"> On beach
          <br> Date 12jun-17jun
          <br> <b style="color: var(--black);"><i class="fa-solid fa-indian-rupee-sign"></i>16,888</b> night
        </p>


      </div>
    </div>

  </div>

  




  </div>







  <!-- main container div close -->
</div>