<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- authore wriiten css or js -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">


    <!-- bootstrap css file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

    <!-- bootstrap java script file -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- font awsom css file -->
    <link rel="stylesheet" href="/css/all.css">

    <!-- font awsom java scrip file -->
    <script src="/javascript/all.js"></script>


    <!-- google font file -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@100&family=PT+Serif&family=Playfair+Display&family=Satisfy&display=swap"
        rel="stylesheet">


    <!-- google glook font familty -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gloock&family=Kanit:wght@300&family=Lato:wght@100&family=PT+Serif&family=Playfair+Display&family=Satisfy&display=swap"
        rel="stylesheet">


    <!-- google nuniro font family     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gloock&family=Kanit:wght@300&family=Lato:wght@100&family=Nunito+Sans&family=PT+Serif&family=Playfair+Display&family=Satisfy&display=swap"
        rel="stylesheet">



   


    <title> Airbnd Clone</title>

</head>

<body>