<section class="container ">
  <nav class="navbar">
    <div class="nav-logo">
      <img src="../../../images/longLogo.jpg" alt="photo" style="height: 4rem;width: 8rem;" srcset="">
    </div>
    <div class="navCenter ">
      <div class="search-text">Any Where</div>
      <div class="search-text">Any Week</div>
      <div class="search-text2">Add Guest</div>
      <div class="search-icon-div"> <i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <div class="nav-right">
     <a href="/firstRegisterToAddPlace"> <div class="airbnd-your-home">Airbnd your home</div></a>
      <div class="airbnd-your-home"><i class="fa-solid fa-globe"></i></div>
      <div class="user-login">
        <div class="dropdown btn-group dropstart ">
     
          <div class="user-profile-div " type="button" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-user user-image-icon "></i>
          </div>
          <ul class=" user-menu-list  dropdown-menu">
            <li><a class="dropdown-item" href="/registration">Sign Up</a></li>
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <div style="height: 1px; background-color: var(--grey); width: 100%;"></div>
            <li><a class="dropdown-item" href="/airbnbYourHome">Airbnd your home</a></li>
            <li><a class="dropdown-item" href="#">Host an experience</a></li>
            <li><a class="dropdown-item" href="#">Help</a></li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
