<%- include('./partials/header.ejs') %>


  <section class="container p-5 ">

    <!-- login form start -->
    <div class="login-register-div">

      <form method="post" >
        <h1 style="font-family: Nunito Sans , sans-serif; font-weight: 800;">Welcome to Airbnb</h1>

        <div class="form-outline mt-2 ">
          <input type="email" id="form12" class="form-control-lg" placeholder="Enter your email" name="loginEmail" />
        </div>

        <div class="form-outline mt-2 ">
          <input type="password" id="form12" class="form-control-lg " placeholder="password" name="loginPassword" />
        </div>

        <p>We'll call or text you to confirm your number. Standard message and data rates apply. Privacy Policy</p>

        <!-- continue button -->
        <button type="submit" class="btn btn-primary btn-block SignIN-btn w-50">Sign in</button>
        <hr>

        <!-- 2 column grid layout for inline styling -->

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>

        <!-- Submit button -->
      </form>

    </div>

  </section>

