
.font{
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 700;
}

.navbar {
    justify-content: space-between;
    display: flex;
    padding: 0.5rem, 1.5rem;
    align-items: center;
    position: sticky !important;
    z-index: 1000;
    top: 0;
}

.nav-logo {
    height: 4rem;
    width: 8rem;
}

.navCenter {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 2rem;
    border: 1.5px solid var(--grey);
    border-radius: 3rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.navCenter:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
    transition: all 0.2s;
    cursor: pointer;
}

.search-text {
    font-size: 0.85rem;
    font-weight: 700;
    border-right: 1.5px solid var(--grey);
    padding-right: 0.5rem;
}

.search-text2 {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--font-grey);
    padding-right: 0.5rem;
}

.search-icon-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--theme);
    padding: 0.45rem;
    border-radius: 50%;
    color: var(--white);
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.airbnd-your-home {
    padding: 0.75rem 0.75rem;
    font-weight: 600;
    border-radius: 3rem;
    font-size: 1rem;
    text-decoration: none !important;
    color: var(--black);
}

.airbnd-your-home:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.user-profile-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.35rem;
    padding: 0.68rem;
    color: var(--font-grey);
    border: 1.5px solid var(--grey);
    border-radius: 3rem;

}

.user-image-icon {
    align-items: center;
    background-color: var(--black);
    padding: 0.2rem;
    border-radius: 50%;
    color: var(--white);
}

.user-profile-div:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
    transition: all 0.2s;
    cursor: pointer;
}

.user-menu-list {
    padding: 0.5rem !important;
    background-color: var(--white) !important;
    color: var(--font-grey) !important;
    min-width: 14rem !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

/* ============================================================ */

/* style for bottom nav bar */
.bottom-navbar {
    visibility: hidden;
}

.bottom-navbar a {

    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bottom-navbar a:hover {
    background: var(--theme);
    color: var(--white);
}

.bottom-navbar a.active {
    background-color: var(--theme);
    color: white;
}


input::placeholder {
    font-size: 0.9rem;
    font-weight: 400;
}

.input-field {
    padding: 0.5rem !important;
    background-color: var(--white) !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}


/* for filer category */
.filter-div {
    /* border-top: 2.2px solid var(--grey); */
    position: sticky;
    padding: 1rem;
    margin-top: 0;
    overflow-x: auto;
    background-color: var(--white);
    opacity: 1;
}

.filter-div::-webkit-scrollbar {
    display: none;
}

.filter-div img {
    height: 4rem;
    width: 4rem;
    margin-right: 3.5rem;
    border-bottom: 2px solid var(--white);
}

.filter-div img:hover {
    opacity: 1rem;
    border-bottom: 2px solid var(--black);
    transition: all 0.3;
    cursor: pointer;
}

/* card styling */

.main-card-div {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-list {
    color: var(--font-grey);
    margin-top: 0px;
    padding: 0;
    font-size: 0.85rem;
}


/* ----- login-register form styling ------- */
.login-register-div {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.form-control-lg {
    width: 35rem;
}

.SignIN-btn {
    background-image: linear-gradient(90deg, #e51e4e, #dd1162);
    font-family: "Nunito Sans" , sans-serif !important;
    font-weight: 600 !important;
    padding: 1rem !important;
}


/* airbnb yourhome page styling */
.chat-with-host-div{
    padding: 0.7rem 0.9rem;
    border: 1.5px solid var(--black);
    font-family: "Nunito Sans" , sans-serif;
    font-weight: 600;
    border-radius: 0.5rem;
}

.airbnbContent-div {
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}

.airbnbYourHome-left{
    padding: 3rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1.5px solid var(--grey);
    border-radius: 3rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%); */
}

.airbnbYourHome-right{
    padding: 3rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1.5px solid var(--grey);
    border-radius: 3rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.form-control::-webkit-input-placeholder{
    font-weight: bold;
}

/* style for booking page  */
.card{
    border: 1.5px solid var(--grey) !important ;
    border-radius: 3rem !important ;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%) !important;
}

.bookingDetails-div{
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
}

.booking-right-content{
  
    border: 1.5px solid var(--grey) !important ;
    border-radius: 3rem !important ;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%) !important;
        padding: 3rem 2rem;
}

.booking-left-content{
    /* border: 2px solid black; */
        padding: 3rem 2rem;
}

/* update delete box */
.three-dot-div {
    justify-content: space-between;
    align-items: center;
    padding: 0.68rem;
}
.remove-button-style{
    text-decoration: none;
    border: none;
    background-color: white;
}
@media only screen and (max-width: 995px) {

    .airbnd-your-home,
    .navCenter {
        display: none;
    }



    .form-control-lg {
        width: 18rem;
    }


    .filter-div img {
        height: 4rem;
        width: 4rem;
        margin-right: 0.4rem;
    }


    .bottom-navbar {
        visibility: visible;
        overflow: hidden;
        background-color: var(--white);
        position: fixed;
        display: flex;
        bottom: 0;
        width: 100%;
        justify-content: center;
        box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 4px 12px rgb(0 0 0 / 10%);

    }
}

